# ==========================
# Datasets
# ==========================
dataset/

# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]

# ==========================
# Virtual Environments
# ==========================
venv/
.venv/
env/
tf_gpu/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# TensorFlow / Keras
# ==========================
*.keras
*.h5

# ==========================
# PyTorch
# ==========================
*.pt
*.pth
*.ckpt

# ==========================
# NumPy / Pickle
# ==========================
*.npy
*.npz
*.pkl
*.pickle

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db
notebooks/